* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* //////////
    TOP AREA
/////////// */

.top-area {
    background-image: url(/letrungdong/labs/lab7/assets/images/welcome-hero/banner.jpg);
    width: 100%;
    background-size: cover;
    height: 700px;
}

/* header */
.top-area .background-img {
    width: 100%;
    z-index: -1;
    position: absolute;
}

span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.top-area {
    color: white;
}

.top-area a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #2f2f2f7f;
}

.top-area .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

.navbar-right {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-right .scroll {
    padding: 0px 20px;
}

.navbar-right .login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00c0de;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}

.navbar-right .login-button:hover {
    background-color: #0096ad;
}

/* hero text */

.hero-text {
    text-align: center;
    margin-top: 100px;
    text-shadow: 1px 1px 1px #2f2f2f7f;
}

.hero-text .contact-us {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #00c0de;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.hero-text .contact-us:hover {
    background-color: #0096ad;
}

/* search */
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%);
    background-color: white;
    width: 70%;
    color: #575757;
    text-align: center;
    box-shadow: 1px 1px 5px #2f2f2f7f;
    padding: 20px;
}

.search table {
    text-align: center;
    padding: 10px 100px;
    margin-left: auto;
    margin-right: auto;
}

.search select {
    width: 200px;
    max-width: 200px;
}

.search .search-button {
    padding: 5px 20px;
    color: white;
    background-color: #00c0de;
    border: none;
    font-weight: bold;
}

.search .search-button:hover {
    background-color: #0096ad;
}

/* //////////////
    Service
//////////// */


.service {
    margin-top: 150px;
}

.service .container {
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    text-align: center;
}

.service-content {
    border: 1px solid #2f2f2f7f;
    margin: 10px;
    padding: 50px;
}

.service-icon {
    font-size: 35px;
    margin: 15px;
}

.service a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin: 30px 0px;
}

.service p {
    text-align: justify;
    text-align-last: center;
    color: #575757;
    margin-top: 20px;
}

.service-content:hover *,
.service-content:hover {
    background-color: #00c0de;
    color: white;
}

/* //////////////
    Featured cars
/////////////////// */

.featured-cars .text-container {
    text-align: center;
    margin: 30px;
}

.text-container h1 {
    font-size: 30px;
}

.text-container p {
    color: #575757;
    font-size: 14px;
}