* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* //////////
    TOP AREA
/////////// */

.top-area {
    background-image: url(/letrungdong/labs/lab7/assets/images/welcome-hero/banner.jpg);
    width: 100%;
    background-size: cover;
    height: 700px;

}

/* header */
.top-area .background-img {
    width: 100%;
    z-index: -1;
    position: absolute;
}

span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.top-area {
    color: white;
}

.top-area a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #2f2f2f7f;
}

.top-area .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    animation: fadeFromTop 0.4s ease;
}

.navbar-right {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-right .scroll {
    padding: 0px 20px;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00c0de;
    color: white;
    font-weight: bold;
    border: none;
}

.navbar-right .login-button:hover {
    background-color: #0096ad;
}

/* login form */

.login-form {
    display: none;
    transition: all 300ms ease-in-out 250ms;
}


.login-form .form-container {
    box-shadow: 0 0 10px #9d9d9df0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    width: 400px;
    margin-top: 100px;
    padding: 30px;

}

.login-form .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.login-form form h1 {
    text-align: center;
}

.login-form form h1,
label,
p {
    margin: 20px 0px;
    color: black;
}

.login-form .form-container form a {
    color: #0246bd;
    margin: 20px 0px;
    margin-bottom: 20px;
}

.login-form .data {
    margin: 10px 0px;
}


.login-form .data input {
    width: 100%;
    height: 30px;
}

.login-form .login-button {
    width: 100%;
    background-image: linear-gradient(45deg, rgb(0, 149, 255), rgb(7, 50, 120));
}

#show:checked~.login-form {
    display: block;
}

/* hero text */

.hero-text {
    color: white;
    text-align: center;
    margin-top: 100px;
    text-shadow: 1px 1px 5px #0000007f;
}

.hero-text p {
    color: white;
}

.hero-text .contact-us {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #00c0de;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.hero-text .contact-us:hover {
    background-color: #0096ad;
}

/* search */
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%);
    background-color: white;
    width: 70%;
    color: #575757;
    text-align: center;
    box-shadow: 1px 1px 5px #2f2f2f7f;
    padding: 20px;
}

.search table {
    width: 100%;
    text-align: center;
    padding: 10px 100px;
    margin-left: auto;
    margin-right: auto;
}

.search select {
    min-width: 100px;
    width: 150px;
    max-width: 200px;
}

.search .search-button {
    padding: 5px 20px;
    color: white;
    background-color: #00c0de;
    border: none;
    font-weight: bold;
}

.search .search-button:hover {
    background-color: #0096ad;
}

/* //////////////
    Service
//////////// */


.service {
    margin-top: 150px;
}

.service .container {
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    text-align: center;
}

.service-content {
    border: 1px solid #d5d5d5;
    margin: 10px;
    padding: 50px;
}

.service-icon {
    font-size: 35px;
    margin: 15px;
}

.service a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin: 30px 0px;
}

.service p {
    text-align: justify;
    text-align-last: center;
    color: #575757;
    margin-top: 20px;
}

.service-content:hover *,
.service-content:hover {
    background-color: #00c0de;
    color: white;
}

/* //////////////
    Featured cars
/////////////////// */
.featured-cars {
    animation-name: wipe-in-bottom-right;
    transition: cubic-bezier(0.25, 1, 0.3, 1);
    transition-duration: 2.5s;
}


.text-container {
    text-align: center;
    margin: 50px;
}

.text-container h1 {
    font-size: 30px;
}

.text-container p {
    color: #575757;
    font-size: 14px;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-content {
    width: 300px;
    text-align: center;
    padding: 10px;
    color: #575757;
    margin: 15px 5px;
}

.car-content img {
    height: 100px;
    padding: 20px;
}

.car-content .car-specifications {
    display: block;
    border: 1px solid #d5d5d5;
    border-style: solid none none none;
    padding: 10px 20px;
}

.car-outline {
    border: 1px solid #d5d5d5;
}

.car-price {
    text-align: justify;
}

/* /////////////////
   New Cars
////////////////// */

.slider .content {
    display: flex;
    justify-content: center;
    padding: 20px 200px;
}


.car-img {
    width: 500px;
    padding: 20px;
}

.slider .car-info .detail-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00c0de;
    color: white;
    font-weight: bold;
    border: none;
}







/* /////////////
    Brands
//////////// */


.brands .container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.logo-img {
    margin: 10px 30px;
}


/* //////////
    Contact us
////////// */

.contact {
    text-align: center;
}


.contact .first-name {
    width: 200px;
}

.contact .last-name {
    width: 200px;
}

.contact .email,
.message {
    width: 450px;
}

.first-name,
.last-name,
.email,
.message {
    padding: 10px;
    margin: 10px;
}

.submit-button {
    padding: 5px 20px;
    color: white;
    background-color: #00c0de;
    border: none;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #0096ad;
}


/* /////////////
    Footer
///////////// */
.footer-basic {
    margin-top: 30px;
    padding: 30px;
    background-color: #a1a1a1;
}


.footer-basic ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

@keyframes wipe-in-bottom-right {
    from {
        clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
    }

    to {
        clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
    }
}

[transition-style="in:wipe:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
}